In [3]:
import requests
import re
import pandas as pd
from bs4 import BeautifulSoup

url = 'https://nairobidrinks.co.ke/pricelist'
r = requests.get(url)

In [8]:
soup = BeautifulSoup(r.text, 'lxml')
sects = soup.find_all('tr')

In [166]:
titles = []
for tr in sects:
    title = tr.find_all('td')
    titles.extend(title)

In [168]:
products = [title.text.strip() for title in titles]
caps = products[0::3]
prices = products[1::3]

In [169]:
prod_split = [cap.split('\n') for cap in caps]
names = [split[0] for split in prod_split]
vol = [split[1] for split in prod_split]

full_list = {
    'Name': names,
    'Volume': vol,
    'Price': prices
}

In [184]:
df = pd.DataFrame(full_list)
df.drop_duplicates()
df.to_csv('Liqourlist.csv', index=False)

In [182]:
viewdf = pd.read_csv('Liqourlist.csv')
viewdf

,Name,Volume,Price
0,Jack Daniels Tennessee Cola,330 ml,Ksh 460
1,Best whisky,750 ml,"Ksh 1,400"
2,Black & white whisky,750 ml,"Ksh 1,499"
3,William lawson,750 ml,"Ksh 1,800"
4,Sir Edwards,750 ml,"Ksh 1,800"
...,...,...,...
2581,Dom perignon brut luminous,750 ml,"Ksh 59,999"
2582,Dom perignon brut 20.. vintage,750 ml,"Ksh 59,999"
2583,Dom perignon rose,750 ml,"Ksh 64,999"
2584,Armand de brignac ace of spades brut gold cham...,750 ml,"Ksh 64,999"
2585,Armand de brignac ace of spades rose,750 ml,"Ksh 69,999"